body {
  width: 600px;
  margin: 20px auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.header {
  font-weight: 400;
  font-size: 48px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.header a {
  text-decoration: none;
  color: black;
}

h2 {
  font-weight: 200;
}

.logo {
  height: 24px;
  vertical-align: bottom;
}

.green {
  color: green;
}

.red {
  color: red;
}

input[type=text], button {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  padding: 4px 8px;
}

input[type=text] {
  width: 80%;
  font-weight: 200;
}

button {
  background: white;
  border: none;
  cursor: pointer;
  font-weight: 400;
  width: 15%;
  color: green;
}

p.webhook {
  font-family: monospace;
  font-size: 28px;
}

.screenshot {
  width: 100%;
}

footer {
  margin-top: 100px;
}
