
body {
  font-family: 'Lato', sans-serif;
}

*:focus {
    outline: none;
}

p {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 18px;
  color: #263238;
  text-align: center;
}

h2 {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 26px;
  color: #78909C;
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 26px;
  color: #263238;
  text-align: center;
  margin-top: 10px;
}

a {
  color: #AB47BC;
}

footer {
  margin-top: 60px 0 10px 0;
}

.adress {
  width: 300px;
  height: 52px;
  display: block;
  margin: 0 auto;
  font-size: 22px;
  font-family: 'Lato';
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 100px;
  border: 2px solid #CFD8DC;
  text-align: center;
}

.adress:focus {
  border-color: #AB47BC;
}

.body {
  max-width: 900px;
  margin: 20px auto;
  font-weight: 200;
}

.clearFix {
  clear: both;
}

.code {
  font-family: 'Monaco';
  font-size: 14px;
}

.footer {
  font-size: 16px;
  margin: 0 36px;
}

.github {
  margin: 20px 20px 0px 0px;
}

.icon-github {
  vertical-align: middle;
}

.icon-svg {
  display: block;
  margin: 20px auto;
}

.icons-container {
  margin: 50px 0 0 0;
  padding: 0;
  text-align: center  
}

.icons-container li {
  width: 300px;
  display: inline-block;
}

.icons-container li:last-child {
  margin-right: 0;
}

.logo {
  display: block;
  margin: 28px auto;
  height: 24px;
  vertical-align: bottom;
}

.picture {
  margin: 50px 0px 50px 0px;
  height: auto;
}

.success {
  font-size: 56px;
  margin-top: 100px;
  text-align: center;
  font-family: 'Lato';
}

.screenshot {
  width: 100%;
}

.squash {
  background: #AB47BC;
  cursor: pointer;
  border:none;
  font-size: 22px;
  font-family: 'Lato';
  font-weight: 700;
  width: 300px;
  color: #fff;
  height: 52px;
  display: block;
  margin: 15px auto;
  padding: 10px 20px;
  border-radius: 100px;
  text-align: center;
}

.title {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 38px;
  color: #263238;
  text-align: center;
  margin-top: 40px;
}

.visit {
  text-decoration: none;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 18px;
  color: #263238;
}

.webhook {
  font-family: monospace;
  font-size: 28px;
}

