{{ define "layout" }}
<html>
  <head>
    <title>pleasesquash.me</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/style_tablet.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="initial-scale=1.0, user-scalable=no, maximum-scale=1, width=device-width, minimal-ui" name="viewport">
  </head>
  <body>
    <div class="header">
      <img class="logo" src="svg/logo.svg" alt="logo" 
      style="width:270px;height:34px;">
      <p class="github">
        <a class="visit" href="http://github.com/codequest-eu">Visit our GitHub</a>
        <image class="icon-github" src="svg/github.svg" alt="github" 
          style="width:30px;margin-bottom:4px">
      </p>
      <div class="clearFix"></div>
    </div>
      <div class="body">
    {{ template "content" }}
    <footer>
      <p class="footer">
        made with
          <image class="heart" src="svg/heart.svg" alt="love" 
          style="width:17px;height:15px;">
        by <a href="http://codequest.com">codequest</a>
        and <image class="like" src="svg/like.svg" alt="like" 
          style="width:17px;height:16px;">
        by <a href="http://codebeat.co">codebeat</a>
      </p>
    </footer>
    </div>
  </body>
</html>
{{ end }}
